# Configuración de credenciales de SiGCA
SIGCA_URL=https://sigca.ex-cle.com/
SIGCA_USER=tu_usuario@empresa.com
SIGCA_PASSWORDS=tu_password_sso,password_alternativo
TELEGRAM_TOKEN=tu_token_de_telegram
TELEGRAM_CHAT_ID=tu_chat_id
SMTP_SENDER_EMAIL=tu_correo_remitente@gmail.com
SMTP_SENDER_PASSWORD=
