# Configuración de credenciales de SiGCA
SIGCA_URL=https://sigca.ex-cle.com/
SIGCA_USER=johan.carmino@ex-cle.com
SIGCA_PASSWORDS=tu_password_sso,password_alternativo
TELEGRAM_TOKEN=8804810141:AAHLzXJnMKlgRXy92RqyJLgCQ2H8dPw-oTg
TELEGRAM_CHAT_ID=7342617796
SMTP_SENDER_EMAIL=johancarmino346@gmail.com
SMTP_SENDER_PASSWORD=
